* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: cadetblue;
  background-image: url(/images/starsbackground.jpg);
}

h1 {
  color:white;
  text-align: center;
  font-family: Staatliches;
  font-size: xxx-large;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

figure {
  margin: 1rem;
  border-style:solid;
  border-color: white;
}


figcaption {
  font-size: x-large;
  text-align: center;
  font-family: roboto mono;
  color: aliceblue;
}

footer{
  color: white;
  font-family: Staatliches;
  font-size: medium;
  text-align: center;
  margin: 1rem 2rem;
}
