:root{
    --main-darkblue:#00072d;
    --main-darkgreen: #567568;
    --main-gray: #ccdad1;
    --main-lightcyan: #e0fbfc;
    --main-teal: #50808e;

}

*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-teal)
}
h1{
   color: var(--main-lightcyan);
   font-family: Special Elite;
   font-size: 3.9rem;
   margin: 2rem;
   width: 75vw;
   text-align: center;
}

h2{
    color: var(--main-darkgreen);
    font-family: Special Elite;
    font-size: 2rem;
    margin: 2rem;
    width: 75vw;
    text-align: center;
 }

a{
    text-decoration: none;
    color: var(--main-darkblue);
    font-weight: 800px;
    font-family: Source Code Pro;
}

.navlist{
    display: flex;
    list-style-type: none;
    margin: 2rem;
}

#navbar{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-gray);
    height: 7.1rem;
}

.navlist a{
    text-decoration: none;
    display:block;  
    color: var(--main-darkblue);
    padding: 1rem;
    font-size: 2rem;
}

.navlist a:hover{
    background: var(--main-teal);
    height: 50px;
}

#welcome-section{
    height: 100vh;
    background-color: var(--main-darkblue);
    background-image: url(/images/websitedeveloper.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#welcome-section h1{
    background-color: #00072d;
    width: 60rem;
    align-items: center;
    margin-top: 3.5rem;
    padding-top: 1rem;
}

#projects{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 10rem;
}

#projects h1{
    padding: 4rem 1rem 1rem 1rem;
}

.project-tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:baseline;
    padding: 6rem;
}

.project-tiles a{
    margin: 2rem;
}

.project-tile img{
    width: 20rem;
}

.project-tile figcaption{
    text-align: center;
    background-color: var(--main-gray);
    color: var(--main-white);
    font-size: x-large;
}

#contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-links a{
    margin: 2rem;
    font-size: large;
    display: block;
}

.contact-details a{
    text-shadow: 2px 2px 1px var(--main-darkblue);
    transition: transform 0.3s ease-out;
}

.contact-links a:hover{
    transform: translateY(8px);
}

footer{
    color: var(--main-lightcyan);
    font-size: medium;
    text-align: center;
    margin: 1rem 2rem;
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }

