*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-size: xxx-large;
    color: rgb(124, 170, 255);
    text-align: center;
}

body{
    background-color: rgb(32, 40, 49);
    background-image: url(/images/starsbackground.jpg);

}

.mainContainer{
    display: flex;
}

.nav{
    min-width: 20rem;
}

.shipViewer{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.shipViewer img{
    padding: 10rem;
}

.box{
    background-color: yellow;
}

.modal-background{
    background-color: rgba(9, 54, 138, 0.2);
}

.box p{
    font-size: xx-large;
    text-align: center;
    color: black;
}

.navList{
    margin: 1rem;
    list-style-type: none;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: yellow;
}

footer{
    color: rgb(124, 170, 255);
    font-size: medium;
    text-align: center;
    margin: 1rem 2rem;
}
