*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: dimgray;
}

.mainContainer{
    display: flex;
}

.nav{
    min-width: 20rem;
}

.shipViewer shipImage{
    padding: 2rem;
    float: right;
}

.box{
    background-color: rgb(226, 164, 29);
}

.box p{
    font-size: xx-large;
    text-align: center;
    color: black;
}

.navList{
    margin: 1rem;
    list-style-type: none;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: white;
}