*{
  background-color: black;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

header{
  background-image: url(/images/og-generic_02031d2b.webp);
  background-repeat:no-repeat;
  background-position: center;
  background-size: 100vw;
  height: 350px;
}

button {
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  background-color: yellow;
  font-family: Josefin Sans;
  font-size: medium;
  border-radius: 5px;
  
}

figure img {
  height: 20rem;
  border-radius: 100%;
}

figcaption{
  color: white;
  text-align: center;
  font-family: Josefin Sans;
  font-size: x-large;
}

