*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.senatorsdiv{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
}

h1{
    text-align: center;
    color: blue;
}

figure{
    width: 200px;
}

figcaption{
    text-align: center;
}

li{
    list-style-type:circle ;
}

img{
    border-image: linear-gradient(red, darkblue) 30;
}