:root{
    --dark-blue: #000080;
    --red: #b60e0e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.senatorsdiv{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
}

h1{
    text-align: center;
    color: blue;
}

/*.seniority.mostSeniorMember{
    color: blueviolet;
}*/

figure{
    width: 200px;
    display: block;
    background-image: linear-gradient(var(--dark-blue), var(--red));
    padding: 2rem;
    margin: 2rem;
}

figure img{
    margin: 0.2rem 7% 0.2rem -0.5rem;
    width: 150px;

}

figcaption{
    text-align: center;
    color: white;
    font-size:x-large;
}

div.senatorsdiv figure:hover{
    box-shadow: 6px 6px 10px #797979;
}

li{
    text-indent: 1.5rem;
    padding: 0.2em;
    /*list-style-image: url('../images/vote.svg');*/

}

