*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.senatorsdiv{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
}

h1{
    text-align: center;
    color: blue;
}

figure{
    width: 200px;
}

figcaption{
    text-align: center;
}

li{
    list-style-image: url("../images/vote-svgrepo-com.svg") 
}

img{
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
}